

<form action="" method="post">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  
  <label for="type">Type of animal: </label>
  <input id="type" type="text" name="type">

  <label for="admission_date">Admission of pet to shelter: </label>
  <input id="admission_date" type="date" name="admission_date">

  <label for="adoptable">The animal is available for adoption (t/f): </label>
  <input id="adoptable" type="" name="">
  <input type="submit" value="Save">
</form>