<h1>All Animals</h1>
<a class="ani_index" href="/animals/rehab">Rehabilitation Centre</a>
<a class="ani_index" href="/animals/adopt">Animals available for adoption</a>
<a class="ani_index" href="/animals/new">Add an Animal</a>

<div>
<% @animals.each() do |animal| %>
  <a href="/animals/<%=animal.id%>"><p>Animal's Name: <%= animal.name%></p></a>
  <p>Type of Animal: <%= animal.type%></p>
  <hr>
<% end %>
</div>
  



