<form action='/animals' method="POST">

<label for="Name field">Animal's name: </label>
<input id="Name field" name="name of animal" type="text"/>

<label for="Type field">Type of animal: </label>
<input type="Type field" name="type of animal" type="text"/>
</form>