<form action="/animals" method="post">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">
  
  <label for="type">Type of animal: </label>
  <input id="type" type="text" name="type">

  <label for="admission_date">Admission of pet to shelter: </label>
  <input id="admission_date" type="date" name="admission_date">

  <label for="adoptable">The animal is available for adoption (t/f): </label>
  <input id="adoptable" type="text" name="adoptable">

  <label for="owner_id">The owner of the animal: </label>
  <select id="owner_id" name="owner_id">
    
    <%@owners.each do |owner| %>
    <option value="<%= owner.id%>"><%= owner.name%></option>
    <%end%>

  </select> 
  
  <input type="submit" value="Save">
</form>