This is where the animals are trained/ healed before adoption

<a href="/animals">Back to all animals</a>

<div>
<% @animals.each() do |animal| %>
  <a href="/animals/<%=animal.id%>"><p>Animal's Name: <%= animal.name%></p></a>
  <p>Type of Animal: <%= animal.type%></p>
  <hr>
<% end %>
</div>

