<p>Welcome to the Scottish Animal Shelter</p>

<a href="/animals">All adoptable animals</a>
<a href="/owners">All owners</a>

<label for="search">Search animals by type: </label>
<input id="search" type="search" name="animal.type">