<p>Welcome to the Scottish Animal Shelter</p>

<a href="/animals">All animals</a>
<a href="/owners">All owners</a>

<form action="/search" method="POST">
<label for="search">Search animals by type: </label>
<input id="search" type="search" name="search_type">

<input type="submit" value="find me some of these creatures">
</form>