<!DOCTYPE html>
<html>
  <head>
    <title>Scottish Animal Shelter</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      
    </nav>
    <%= yield %>
  </body>
</html>