<!DOCTYPE html>
<html>
  <head>
    <title>Scottish Animal Shelter</title>
  </head>
  <body>
    <nav>
      <!-- <a href="/animals">All animals</a>
      <a href="/owners">All owners</a> -->
    </nav>
    <%= yield %>
  </body>
</html>