body {
  background-color: tomato; 
}

a {
  text-decoration: underline;
}

a:hover {
  color: black;

}

a:visited{
  color: black;
}

.gun_kitty {
  display: block;
}

.ani_index {
  margin-left: 15px;
}