<form action="/owners/<%=@owner.id%>" method="POST">
  <label for="Post-name">Name: </label>
  <input id="Post-name" type="text" name="name" value="<%=@owner.name%>">
  
  <label for="Post-address">Address: </label>
  <input id="Post-address" type="text" name="address" value="<%=@owner.address%>">


  <input type="submit" name="Update Owner Details">

  


</form>